@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  background: url('../public/images/masonphone.jpg');
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: bold;
  font-weight: 6j00;
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
}
